*{
    margin: 0;
    padding: 0;

}
.main{
   width: 100px;
   background: url(Images/Night\ sky.avif);
   background-position: center;
   background-size: cover;
   height: 109vh; 
   width: 200vh;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;


}

.logo{
    color: #ff7200;
    font-size: 35px;
    font-family: arial;
    padding-left: 20px;
    float:left;
    padding-top: 10px;

}

.menu{
    width: 400px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: white;
    font-family: arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #ff7200;
}

.search{
    width: 400px;
    float: left;
    height: 70px;
    margin-left: 270px;
}

.srch{
    font-family: 'Times New Roman';
    font-size: 200px;
    height: 40px;
    background: transparent;
    border: 1px #ff7200;
    margin-top: 13px;
    color: white;
    border-right: none;
    font-size: 16px;
    float:left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn{
    width: 100px;
    height: 40px;
    background: #ff7200;
    border:2px solid #ff7200;
    margin-top: 13px;
    color: rgb(237, 237, 237);
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    
}

.btn:focus{
    outline: none;
}

.src:focus{
    outline: none;
}

.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fdf7f7;
    position: relative;
}

.content .par{
    padding-left: 20px;
    padding-bottom: 20px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;

}

.content .h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20;
    margin-top: 9%;
    letter-spacing: 2px;
}
.content .cn{
    background-color: rgb(209, 115, 27);
    width: 4.5%;
    height: 30%;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
   
}
html{
    scroll-behavior: smooth;
}
.container{
    display: inline-block;
    margin: 20%;

}
 .container .text{
    overflow: hidden;
    font-size: 3.6rem;
    font-weight: 700;
    border-right: 0.15em solid orange;
    white-space: nowrap;
}
@keyframes typing {
    from{
        width: 0;
    }
    to {
        width: 100%;
    }
    
}